<div class="block ad">
    <a href="http://www.keji50.com/web?command=News&id=185" class="before-fade-in after-fade-in" style="background-image: url(http://www.keji50.com/ueditor/jsp/upload/20151228/56421451283229216.jpg);" target="_blank">
    </a>
</div>