<div class="block ad">
    <a href="http://www.baidu.com/cb.php?c=IgF_pyfqnHRdnjT4P1c0IZ0qnfK9ujYznHn3nWn10Aw-5HczrHfzn1c0TAq15HDsrHDYnj00T1d-PywWP1N9nW0knWfsnjRY0AwY5HDYPjbvPWbvnWm0IgF_5y9YIZ0lQzqWpZN9UhT8n1uoTB4WUvYEpZNEuAq8uznEmyPYpguGIZ-KTZK_Xiqbugw9pyk1Q1DvP0KzujYz0AFV5H00TZcqn0KdpyfqPHmLP1RLnfKEpyfqnHmznWbz0APGujYYnWR1PWc0ULI85HDdPHR3rfKsXHYznjm0mLFW5HRLP1D3" class="before-fade-in after-fade-in" style="background-image: url(http://ubmcmm.baidustatic.com/media/v1/0f00075WZfMqvQPE4H9m16.jpg);" target="_blank">
    </a>
</div>