#indexNavNew div {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  text-shadow: none;
  padding: 9px 10px;
}
#indexNavNew a{
  background: url(/info/static/img/list/arrow-right.png) no-repeat right center;
  background-size: 8px 12px;
  color: #333;
  font-size: 14px;
  display: block;
  line-height: 30px;
}

#indexNavNew .categoryList a {
  border-top: none;
  padding: 0;
}
#indexNavNew div a {
  font-weight: bold;
}

#indexNavNew .categoryList {
  border-bottom: 1px solid #ccc;
}
#indexNavNew .categoryList>li:first-child {
  border: none;
}
#indexNavNew .categoryList li {
  background-color: #fff;
  font-size: 16px;
  text-shadow: none;
  padding: 9px 10px;
  border-top: 1px solid #ccc;
}