#extends("page/layout/front/front.vm")

#block("content")

#widget("widget/slider/slider.vm")

<div id="content">
  	<div id="candy">
  		<a href="#">
  			<img src="/static/img/index/candy/onsale.jpg" alt="上海女人"/>
  		</a>	
  	</div>
  	<div id="banner">
  		<a href="#">
  			<img src="/static/img/index/goods/goods1.jpg" alt="上海女人"/>
  		</a>	
  	</div>
  	<div id="line"></div>
  	<div id="new-arrival">
  		<a href="#">
  			<img src="/static/img/index/candy/newarrival.jpg" alt="上海女人"/>
  		</a>	
  	</div>
  	#widget("widget/label/label.vm")
  	<div id="goods">
  		<a href="#">
  			<img src="/static/img/index/goods/goods2.jpg" alt="上海女人"/>
  		</a>	
  	</div>
  	#widget("widget/bottom/bottom.vm")
</div>

#end## end of body

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("page/index/index.vm")
#end
