<div id="article-latestArticles" style="display: block;">
    <div class="author"><a href="$rc.getContextPath()/a/$info.author.id" target="_blank"><span class="avatar" style="background-image: url($info.author.image)"></span></a>
        <div class="desc"><a href="$rc.getContextPath()/a/$info.author.id" target="_blank"><span class="name">$info.author.getNickname()</span></a><span class="badge">作者</span>
            <div class="brief">科技50 资深编辑</div>
        </div>
        <div class="article-number-infor">
            <div>
                <div class="article-total"><span>$infosTotal</span>篇</div>文章总数</div>
        </div>
    </div>
    <div class="latest-articles">
        <h3>最新文章 <i></i></h3>
        #foreach ($infoNearby in $infosNearby)
            <article>
                <a class="pic" href="$rc.getContextPath()/p/$infoNearby.id" style="background-image: url($infoNearby.image)"></a>
                <div class="desc"><a class="title" href="$rc.getContextPath()/p/$infoNearby.id" target="_blank">$infoNearby.title</a></div>
            </article>
        #end
        
        <div class="more-article"><a href="$rc.getContextPath()/a/$info.author.id" target="_blank">更多 &gt;</a></div>
    </div>
</div>