#set($commentUrl = "$rc.getContextPath()/comment/get/$info.id")
#set($postUrl = "$rc.getContextPath()/comment/post/$info.id")
<div class="content-wrapper">
    <div class="article-section" data-aid="$info.id" data-url="$rc.getContextPath()/p/$info.id" id="article-section-$info.id">
        <div class="inner">
            <article class="single-post english-wrap">
                <section class="single-post-header">
                    <header class="single-post-header__meta">
                        <h1 class="single-post__title">$info.title</h1></header>
                    <div class="author"><a data-stat-click="Wenzhang.zuozhe.click" href="$rc.getContextPath()/a/$info.author.id"><span class="avatar before-fade-in after-fade-in" style="background-image: url($info.author.image);"></span><span class="name">$info.author.getNickname()</span></a><span class="time">&nbsp;•&nbsp;<abbr class="timeago" title="$info.getCreateDate()">$info.getCreateDate()</abbr></span></div>
                    <div class="single-post-header__headline"><img alt="" class="image" src="$info.image"></div>
                </section>
                <br>
                <section class="article">
                    $info.content
                </section>
                #if($info.getTags().size() > 0)
                <section class="single-post-tags">
                    <span class="tag-tip">标签：</span>
                        #foreach ($tag in $info.getTags())
                            <span class="tag-item"><a href="javascript:;" target="_blank">$tag</a></span>
                        #end
                    </span>
                </section>
                #end
                <!-- 社交分享 -->
                <section class="single-post-share" data-stat-module="Wenzhang">
                    <ul class="actions">
                        <li><a class="comment-btn J_addCommentBtn" data-post-id="5040832" data-stat-click="pinglunshuliang.click" href="javascript:void(0)"><i class="icon icon-comment"></i><span id="commentTotalCount" class="comment_total_count">0</span></a></li>
                    </ul>
                    <div class="single-post-share-list hide-external"><span class="mobile-hide">分享到</span>
                        <div class="share-group">
                            <div class="bshare-custom icon-medium-plus"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
                            <script src='http://static.bshare.cn/b/buttonLite.js&#35;style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh'></script>
                            <script src='http://static.bshare.cn/b/bshareC0.js'></script>
                        </div>
                    </div>
                </section>
            </article>
            <section class="single-post-comment english-wrap">
                <h2>文章评论(<span id="commentFormCount" class="comment_form_count">0</span>)</h2>
                <div class="single-post-comment-reply">
                    <div class="single-post-comment__form cf require-login" style="display:none;">
                        <form class="comment_form" method="post">
                            <textarea class="textarea" data-widearea="enable" data-toauthor="" id="post" name="comment[content]" placeholder="你怎么看？"></textarea>
                            <span class="focus-tips textarea-focus-tips">请回复有价值的信息，无意义的评论将很快被删除，账号将被禁止发言。</span>
                            <span class="reply_message reply_msg hide">回复：<i class="J_toAuthor"></i><span class="J_delAuthor">X</span></span>
                        </form>
                    </div>
                    <div class="bottom require-login" id="J_userInfo" style="display:none">
                        <div class="meta">
                            <span class="avatar" style=""></span>
                            <span class="user-info">signed as &nbsp;<a href="javascript:void(0)"id="J_loginname"></a></span>
                            </span>
                        </div>
                        <button class="ladda-button comment-submit-btn right">
                            <span class="ladda-label">提交评论</span>
                        </button>
                    </div>
                    <div style="clear:both"></div>
                    <div class="bottom J_requirelogin">
                        <div class="meta left cf"><a class="login_before_comment" href="$keji50_domain/web?command=Login">登录</a>后参与讨论</div>
                    </div>
                </div>
                <hr>
                <div async="true" id="J_comments" class="single-post-comment__comments" style="display: block;">
                </div>
            </section>
        </div>
    </div>
</div>
#script()
bShare.addEntry({
    title: "$info.title",
    summary: "$info.shortDesc",
    pic: "$info.image"
});
#end
#script()
    require(['widget/detail/detail'], function(app) {
        app({
            commentUrl : "$commentUrl",
            postUrl :"$postUrl"
        });
    });
#end