#extends("page/layout/front/front.vm")

#block("content")
#set($pageUrl = "$rc.getContextPath()/p")
#set($pageCateUrl = "$rc.getContextPath()/category/")
#set($pageFlag = 'index')

<div class="index-wrap">
	#widget("widget/lightbox/lightbox.vm")
  	<div class="main-section">
		<div class="news-list J_articleListWrap" data-stat-module="Zhufeed">
    		#widget("widget/listbar/listbar.vm")
    		#widget("widget/newslist/newslist.vm")
		</div>
    	<div class="index-side">
    		#widget("widget/hottest/hottest.vm")
    		#widget("widget/advertise/advertise.vm")
    	</div>	
  	</div>
</div>

#end## end of body

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#require("page/index/index.vm")
#end
