<div class="news-list J_articleListWrap" data-stat-module="Zhufeed">
    <div class="categories J_newsListNavBar">
        <a class="active tab" data-stat-click="fenleiall.click" data-type="all" href="$rc.getContextPath()" id="column_header_all">全部</a>
        #foreach ($category in $categories)
        <a class=" tab" data-stat-click="fenlei${category.code}.click" data-type="{category.code}" href="$rc.getContextPath()/category/$category.id" id="column_header_${category.code}">$category.name</a>
        #end
        #* 
<a class=" tab" data-stat-click="fenleitv.click" data-type="tv" href="http://36kr.com/columns/tv" id="column_header_tv">氪TV</a>
        <a class=" tab" data-stat-click="fenleio2o.click" data-type="o2o" href="http://36kr.com/columns/o2o" id="column_header_o2o">O2O</a>
        <a class=" tab" data-stat-click="fenleihardware.click" data-type="hardware" href="http://36kr.com/columns/hardware" id="column_header_hardware">新硬件</a>
        <a class=" tab" data-stat-click="fenleifun.click" data-type="fun" href="http://36kr.com/columns/fun" id="column_header_fun">Fun!!</a>
        <a class=" tab" data-stat-click="fenleienterprise.click" data-type="enterprise" href="http://36kr.com/columns/enterprise" id="column_header_enterprise">企业服务</a>
        <a class=" tab" data-stat-click="fenleisports.click" data-type="sports" href="http://36kr.com/columns/sports" id="column_header_sports">Fit&amp;Health</a>
        <a class=" tab" data-stat-click="fenleiedu.click" data-type="edu" href="http://36kr.com/columns/edu" id="column_header_edu">在线教育</a>
        <a class=" tab" data-stat-click="fenleifinance.click" data-type="finance" href="http://36kr.com/columns/finance" id="column_header_finance">互联网金融</a>
        <a class=" tab" data-stat-click="fenleicompany.click" data-type="company" href="http://36kr.com/columns/company" id="column_header_company">大公司</a>
        <a class=" tab" data-stat-click="fenleicolumn.click" data-type="column" href="http://36kr.com/columns/column" id="column_header_column">专栏</a>
        <a class=" tab" data-stat-click="fenleixinchanpin.click" data-type="pdn" href="http://36kr.com/product_notes" id="column_header_pdn">新产品</a> *#

    </div>
    <div class="article-list">
        <div class="articles J_articleList">
            <div class="J_channelIndexAd list-head-ad">
            </div>
            #foreach ($info in $infos)
            <article>
                <a class="pic info_flow_news_image badge-o2o before-fade-in after-fade-in" data-fit-mobile="true" data-stat-click="wenzhangtupian.1.${info.id}.click" href="$rc.getContextPath()/p/$info.id" style="background-image: url($info.image!feature);">
                    <span class="mask-tags" data-type="$info.category.code">$info.category.name</span>
                </a>
                <div class="desc">
                    <a class="title info_flow_news_title" data-stat-click="wenzhangbiaoti.1.${info.id}.click" href="$rc.getContextPath()/p/$info.id" target="_blank">$info.title</a>
                    <div class="author">
                    <a href="$rc.getContextPath()/a/$info.author.id">
                        <span class="avatar before-fade-in" data-stat-click="wenzhangzuozhe.1.${info.id}.click"></span>
                        <span class="name">$info.author.getNickname()</span></a>
                        <span class="time">&nbsp;•&nbsp;<time class="timeago" title="$info.getCreateDate()" datetime="$info.getCreateDate()">$info.getCreateDate()</time></span>
                    </div>
                    <div class="brief">$info.shortDesc</div>
                </div>
            </article>
            #end
            
            <a class="load-more J_listLoadMore" data-stat-click="wenzhanggengduo.click" href="$rc.getContextPath()?offset=5040803&d=next" id="info_flows_next_link"></a>
        </div>
    </div>
</div>