<div class="article-list">
    <div class="articles J_articleList">
        <div class="J_channelIndexAd list-head-ad">
        </div>
        <div id="listWrap"> 
            #foreach ($info in $infos)
            <article data="$info.id">
                <a class="pic info_flow_news_image badge-o2o before-fade-in after-fade-in" data-fit-mobile="true" href="$rc.getContextPath()/p/$info.id" style="background-image: url($info.image);">
                    <span class="mask-tags" style="background-color: $info.infoCategory.colorCode">$info.infoCategory.name</span>
                </a>
                <div class="desc">
                    <a class="title info_flow_news_title" href="$rc.getContextPath()/p/$info.id" target="_blank">$info.title</a>
                    <div class="author">
                    <a href="$rc.getContextPath()/a/$info.author.id">
                        <span class="avatar before-fade-in" style="background-image: url($info.author.image);filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$info.author.image',sizingMethod='scale'"></span>
                        <span class="name">$info.author.getNickname()</span></a>
                        <span class="time">&nbsp;•&nbsp;<time class="timeago" title="$info.getCreateDate()" datetime="$info.getCreateDate()">$info.getCreateDate()</time></span>
                    </div>
                    <div class="brief">$info.shortDesc</div>
                </div>
            </article>
            #end
        </div>
        <a class="load-more J_listLoadMore" data-stat-click="wenzhanggengduo.click" href="javascript:;" id="info_flows_next_link"></a>
    </div>
</div>
#script()
    require(['widget/newslist/newslist'], function(app) {
        app({
            dom : '.J_listLoadMore',
            newsUrl : '$pageUrl',
            pageFlag : '$pageFlag',
            pageCateUrl : '$pageCateUrl'
        });
    });
#end