<!DOCTYPE html>
<html>    <head>        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>精油</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
            <link rel="stylesheet" type="text/css" href="/static/scss/reset.css"/><link rel="stylesheet" type="text/css" href="/static/components/swiper/swiper.css"/><link rel="stylesheet" type="text/css" href="/static/widget/slider/slider.css"/><link rel="stylesheet" type="text/css" href="/static/widget/category/category.css"/><link rel="stylesheet" type="text/css" href="/static/widget/listpanel/listpanel.css"/><link rel="stylesheet" type="text/css" href="/static/page/list/list.css"/></head>
    <body>        <div id="wrapper">
                            
<div id="indexNavNew">
    <div><b>精油</b></div>
</div>
<div id="list">
	    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/chashuquanchuangjingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>茶树祛暗疮精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/meibaidanbanjingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>美白淡斑精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/quyandaijingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>祛眼袋精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/quzhoubaoshijingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>祛皱保湿精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/shushianmianjingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>舒适安眠精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/xueyicaokongyoujingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>薰衣草控油精油</h2>
                <p class="price-line">
                    <span class="price">85</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/jingyou/yangganjukangguominjingyou.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>洋甘菊抗过敏精油</h2>
                <p class="price-line">
                    <span class="price">¥85</span>
                </p>
            </div>
        </a>
    </div>
</div>
#widget("widget/contact/contact.vm")

                            </div>
    <script type="text/javascript" src="/static/js/require.js"></script><script type="text/javascript" src="/static/components/swiper/swiper.js"></script><script type="text/javascript" src="/static/widget/slider/slider.js"></script><script type="text/javascript">;require(['widget/slider/slider'], function(app) {
    app({
        container : '.swiper-container',
        pagination : '.swiper-pagination'
    });
});
</script></body>
        </html>