<!DOCTYPE html>
<html>    <head>        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>彩妆系列</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
            <link rel="stylesheet" type="text/css" href="/static/scss/reset.css"/><link rel="stylesheet" type="text/css" href="/static/components/swiper/swiper.css"/><link rel="stylesheet" type="text/css" href="/static/widget/slider/slider.css"/><link rel="stylesheet" type="text/css" href="/static/widget/category/category.css"/><link rel="stylesheet" type="text/css" href="/static/widget/listpanel/listpanel.css"/><link rel="stylesheet" type="text/css" href="/static/page/list/list.css"/></head>
    <body>        <div id="wrapper">
                            
<div id="indexNavNew">
    <div><b>彩妆系列</b></div>
</div>
<div id="list">
	    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/bohegao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>薄荷膏</h2>
                <p class="price-line">
                    <span class="price">¥30</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao1.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-1号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao2.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-2号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao3.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-3号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao4.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-4号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao5.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-5号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao6.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-6号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao7.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-7号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao8.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-8号</h2>
                <p class="price-line">
                    <span class="price">¥25</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao9.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-9号</h2>
                <p class="price-line">
                    <span class="price">¥20</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao10.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-10号</h2>
                <p class="price-line">
                    <span class="price">¥20</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/gutixianggao11.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>固体香膏-11号</h2>
                <p class="price-line">
                    <span class="price">¥20</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/jingdianchungao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>经典唇膏</h2>
                <p class="price-line">
                    <span class="price">¥50</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/jingdianxianggao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>经典香膏</h2>
                <p class="price-line">
                    <span class="price">¥30</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/molibaoshifen.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>茉莉保湿粉</h2>
                <p class="price-line">
                    <span class="price">¥50</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/molixianggao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>茉莉香膏</h2>
                <p class="price-line">
                    <span class="price">¥30</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/mudandingzhuangfen.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>牡丹定妆粉</h2>
                <p class="price-line">
                    <span class="price">¥50</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/rousidazishuang.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>柔丝打底霜（猪油膏）</h2>
                <p class="price-line">
                    <span class="price">¥30</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/shishangchungao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>时尚唇膏</h2>
                <p class="price-line">
                    <span class="price">¥50</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/xuyuanjinglingxiangshui1.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>许愿精灵香水-1号</h2>
                <p class="price-line">
                    <span class="price">¥65</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/xuyuanjinglingxiangshui2.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>许愿精灵香水-2号</h2>
                <p class="price-line">
                    <span class="price">¥65</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/xuyuanjinglingxiangshui3.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>许愿精灵香水-3号</h2>
                <p class="price-line">
                    <span class="price">¥35</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/caizhuangxilie/youyachungao.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>优雅唇膏</h2>
                <p class="price-line">
                    <span class="price">¥50</span>
                </p>
            </div>
        </a>
    </div>
</div>
#widget("/widget/contact/contact.vm")

                            </div>
    <script type="text/javascript" src="/static/js/require.js"></script><script type="text/javascript" src="/static/components/swiper/swiper.js"></script><script type="text/javascript" src="/static/widget/slider/slider.js"></script><script type="text/javascript">;require(['widget/slider/slider'], function(app) {
    app({
        container : '.swiper-container',
        pagination : '.swiper-pagination'
    });
});
</script></body>
        </html>