<!DOCTYPE html>
<html>    <head>        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>礼盒</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
            <link rel="stylesheet" type="text/css" href="/static/scss/reset.css"/><link rel="stylesheet" type="text/css" href="/static/components/swiper/swiper.css"/><link rel="stylesheet" type="text/css" href="/static/widget/slider/slider.css"/><link rel="stylesheet" type="text/css" href="/static/widget/category/category.css"/><link rel="stylesheet" type="text/css" href="/static/widget/listpanel/listpanel.css"/><link rel="stylesheet" type="text/css" href="/static/page/list/list.css"/></head>
    <body>        <div id="wrapper">
                            
<div id="indexNavNew">
    <div><b>礼盒</b></div>
</div>
<div id="list">
	    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/lihe/liangjianlihe.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>两件礼盒（夜来香霜花膏腴+夜来香香膏）</h2>
                <p class="price-line">
                    <span class="price">¥45</span>
                </p>
            </div>
        </a>
    </div>
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="http://52.74.102.5/icons/product/lihe/sanjianlihe.jpg" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>三件礼盒（夜来香霜花膏腴+夜来香香膏+猪油膏）</h2>
                <p class="price-line">
                    <span class="price">¥70</span>
                </p>
            </div>
        </a>
    </div>
</div>
#widget("/widget/contact/contact.vm")

                            </div>
    <script type="text/javascript" src="/static/js/require.js"></script><script type="text/javascript" src="/static/components/swiper/swiper.js"></script><script type="text/javascript" src="/static/widget/slider/slider.js"></script><script type="text/javascript">;require(['widget/slider/slider'], function(app) {
    app({
        container : '.swiper-container',
        pagination : '.swiper-pagination'
    });
});
</script></body>
        </html>