<div class="top ss">
    <div class="topBox">
        <div class="topLink_1">
            <a class="logo" href="#"><img src="/info/static/widget/header/images/logo.png"/></a>
            <a href="$rc.getContextPath()">资讯</a>
            <a href="$keji50_domain/web?command=ListNews">创业活动</a>
            <a href="$keji50_domain/web?command=ListPro">项目展示</a>
            <a href="$keji50_domain/web?command=ListTutor">导师</a>
            <a href="$keji50_domain/web?command=ListMade">创富集</a>
            <a href="$keji50_domain/web?command=MadeHelp">创业服务</a>
            <a href="$keji50_domain/web?command=aboutus">关于我们</a>
        </div>
        <div class="topLink_2 fr">
        	
        #* 
		<c:if test="${sessionScope.login}">    
            <span><a href="#"><c:out value="${sessionScope.account.nickname}"/></a></span>     
            <span><a href="<c:url value="/web?command=Logout"/>">退出</a></span>     
        </c:if>    *#
            <div class="J_unlogin">
                <a href="$keji50_domain/web?command=Login" class="ico-user">登录</a>
                <a href="$keji50_domain/web?command=Register">注册</a>
            </div>
            <div class="J_logined" style="display:none;">
                <a href="javascript:;" class="loginUser ico-user"></a>  
                <a href="$keji50_domain/web?command=Logout">退出</a> 
            </div>
            <a href="$keji50_domain/web?command=Release_pro" class="ico-edit">发布项目</a>
        </div>
    </div>
</div>